{% extends 'b.html' %}

{% block content %}
    <h1>Job Openings</h1>
    <ul>
        {% for job_opening in job_openings %}
            <li>{{ job_opening.title }} - {{ job_opening.company }}</li>
            <p>
                Posted by - {{job_opening.created_by}}<br>
                Description: {{ job_opening.description}}
            </p>
        {% endfor %}
    </ul>

    <a href="{% url 'alumni:create_job_opening' %}" class="btn btn-secondary">Create a Job Opening</a>
{% endblock %}


